<h1>BootTwit</h1>

<form action="" method="get">
<!-- Use <<txt, <<pwd (password-field), <<hidden, <<button, <<reset, <<checkbox, <<radio, <<file for field elements. -->


<input type="submit" name="">
</form>
